<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EventsNearMe</title>
  <!--Material Light-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <!-- <script src="jquery-3.3.1.min.js"></script> -->
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  <!--End of Material Light-->

  <!--Custom CSS-->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <!-- Textfield with Floating Label -->


  <div class="searchbar">

    <form action="/search" method="GET">

      <!-- Type of Event -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin-top: 20px; ">
        <input name="eventType" class="mdl-textfield__input" type="text" id="sample3" placeholder="Example: Concert">
        <label class="mdl-textfield__label" for="sample3" style="font-size: 15px; color: white">Type of event</label>
      </div>

      <!-- Location  -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="location" class="mdl-textfield__input" type="text" id="sample3" placeholder="San Francisco, CA">
        <label class="mdl-textfield__label" for="sample3" style="font-size: 15px; color:white;">Location (City, State)</label>
      </div>

      <!-- Radius -->
      <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input name = "radius" class="mdl-textfield__input" type="text" id="sample3" placeholder = "1">
    <label class="mdl-textfield__label" for="sample3">Radius (Miles)</label>
  </div> -->

      <!--Sart Time-->
      <!-- Use something like https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_time -->
      <div id="startTime-textfield" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="startTime" class="mdl-textfield__input" id="startTime" type="time" id="sample3" value="10:00" placeholder="time">
        <label class="mdl-textfield__label" for="sample3" style="font-size: 15px; color:white;">Start Time (10:00 AM)</label>
      </div>

      <!-- End Time -->
      <div id="startTime-textfield" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="endTime" class="mdl-textfield__input" id="endTime" type="time" id="sample3" value="18:00" placeholder="time">
        <label class="mdl-textfield__label" for="sample3" style="font-size: 15px; color:white;">End Time (6:00 PM)</label>
      </div>


      <button type="submit" onclick="search()" id="submit" class="mdl-button mdl-js-button mdl-button--raised" style="color:white" ;>Search</button>

    </form>
  </div>

  {{{body}}}
  <h1 id="demo"></h1>
  <script src="/javascript/script.js"></script>
  <script src="/server.js"></script>

</body>

</html>
